.home {
    padding: 20px;
  }
  
  .sectionTitle {
    text-transform: uppercase;
  }
  
  .search-input {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .viewMore {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  
  .viewMore:hover {
    color: var(--second);
  }
  
  .games-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
